
{% extends 'main.html'%}


{% block content %}
    {% load static %}
    <h1>Client's page</h1>

    <h2>My Google Map</h2>
    <br>


        <p>
        <label>Adress:</label>
        <input id="places-autocomplete" type="text" placeholder="Search for a place">
        </p>
     

    <div id="map"></div>


    <div>
        <div>
            {% for lobby in lobbies %}
                <div>
                    <h5>{{lobby.id}} >>>> <a href="lobby/{{lobby.id}}">{{lobby.host.username}}{{lobby.availableSeats}}</a></h5>
                </div>
            {% endfor %}
        </div>
    </div>









    {% load static %}
    <script src="{% static 'client/js/clientLoc.js' %}" ></script>

    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRO_Mf5n9UDT1fS902Dq38N6Cl5fV9SkM&libraries=places&callback=initMap">
        
    </script>     
{% endblock content %}
    
    
    
