{% extends 'main.html '%}

{% block content %}


{% if page == 'login' %}
<div>
<form method="POST" action="">
{% csrf_token %}
<div class="user">
    <label>
        Username:
    </label>
    <input type="text" class="bginput" placeholder="Username">
</div>
<br>
<div class="pass">
    <label>
        Password: 
    </label>
    <input type="text" class="bginput" placeholder="Password">
</div>
<br>
<input type="submit" class="btn light" value="Login"/>
</form>

<div class="sign_up">
    <p>Don't have an account</p>
    <a href="{% url 'register' %}" class="btn dark">Sign Up</a>
</div>
</div>

{% else %}

<div>
    <form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn light" value="Register"/>
    </form>
    <div class="sign_up">
        <p>Already signed up?</p>
        <a href="{% url 'login' %}" class="btn dark">Sign In</a>
    </div>
</div>


{% endif %}
{% endblock content%}